
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vertical-center-modal .ant-modal {
    top: 0;
  }